{% extends 'base.html.twig' %}

{% block nav %}
{% endblock %}

{% block content %}

    <div class="password_forgotten">
        <a href="{{ path('app_login') }}"><i class="fas fa-angle-left"></i></a>
        <form method="post">
            <h1 class="">Recevoir un nouveau mot de passe</h1>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Votre adresse-mail" required autofocus>
            <div>
                <button type="submit">
                    Recevoir
                </button>
            </div>
        </form>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}