{% extends 'base.html.twig' %}

{% block nav %}
{% endblock %}

{% block content %}

    <div class="password_reset">
        <form method="post">
            <h1>Changer votre mot de passe</h1>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Nouveau mot de passe" required>
            <input type="hidden" name="token" value="{{ token }}">
            <div>
                <button class="btn btn-lg btn-primary" type="submit">
                    Modifier
                </button>
            </div>
        </form>
    </div>
    
{% endblock %}

{% block footer %}
{% endblock %}