{% extends 'base.html.twig' %}

{% block content %}

<div class="actuality_show_update">
<a href="{{ path('actualityadmin_index')}}"><i class="fas fa-angle-left"></i></a>
    <h1>Modifier l'actualité</h1>
{{ form(form) }}
</div>

{% endblock %}
{% block footer %}
{% endblock %}