/* Pour fixer mon footer en bas de page, sur toute mes page */
html {
    position: relative;
    min-height: 100%;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: #2C3840;
}

input, button {
    outline: none;
}


/* HEADER PAGE VITRINE  */


.header {
    display: flex;
}
.header img {
    width: 100%;
    height: 100%;
}
.header div {
    position: absolute;
    right: 260px;
    text-align: center;
}
.header div h1 {
    font-size: 6em;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Chilanka', cursive;
}
.header div a {
    font-size: 2.7em;
    background-color: rgb(27, 24, 24);
    color: white;
    padding: 10px;
    border-radius: 15px;
   
}
.header div p {
    font-size: 6em;
    margin-top: 15px;
}


/* CONTENT PAGE VITRINE */


.content_vitrine p  {
    font-size: 2em;
    padding: 40px 20px;
    text-align: center;
}
.content_vitrine table  {
    font-size: 4em;
    text-align: center;
    margin: auto;
    border: 1px solid black;
}
.content_vitrine table caption {
    margin-top: 50px;
    margin-bottom: 15px;
}
.content_vitrine table tbody tr  {
    border-bottom: 1px solid black;
}
.content_vitrine table tbody td  {
    border-right: 1px solid black;
    padding: 20px;
}


/* MAP PAGE VITRINE */


.map_vitrine h1 {
    margin-top: 10%;
    text-align: center;
    font-size: 4em;
}
.map_vitrine img {
    width: 90%;
    margin: 5%;
}
.map_vitrine p {
    margin: 0;
    margin-left: 40px;
    margin-right: 20px;
    text-align: left;
    font-size: 1.8em;
}
.map_vitrine p i {
    margin-right: 20px;
    font-size: 2em;
}


/* FORM CONTACT PAGE VITRINE */


.form_vitrine {
    text-align: center;
    margin-top: 20%;
    padding-bottom: 50%;
}
.form_vitrine h1 {
    font-size: 4em;
    margin-bottom: 35px;
}
.form_vitrine div input {
    width: 80%;
    height: 70px;
    font-size: 2.5em;
    border: none;
    border: 1px solid;
    padding-left: 10px;
    margin-bottom: 40px;
    font-family: 'Quicksand', sans-serif;
}
.form_vitrine div textarea {
    width: 80%;
    height: 350px;
    font-size: 1.2em;
    border: none;
    border: 1px solid;
    padding-left: 10px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}
.form_vitrine .form_vitrine-button {
    font-size: 2.5em;
    border: none;
    padding: 15px;
    background-color: rgb(26, 25, 25);
    color: white;
    border-radius: 15px;
}


/* PAGE FORM LOGIN */


.content_form_login {
    background-color: #2C3840;
    color: white;
    height: 1745px;
    font-family: 'Quicksand', sans-serif;
    
}
.content_form_login a i {
    font-size: 7em; 
    color: white;
    margin: 3%;
    
}
.content_form_login h1 {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}
.content_form_login form p {
    font-size: 3.5em;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-top: 20%;
}
.content_form_login form input {
    width: 80%;
    height: 120px;
    font-size: 2.5em;
    border: none;
    border-radius: 30px;
    border: 1px solid;
    padding-left: 10px;
    margin-left: 9%;
    background-color: #515861;
}
.content_form_login form div  {
   width: 60%;
   margin: 10% auto;
   margin-bottom: 25%;
   
}
.content_form_login form div button {
   border: none;
   padding: 50px 200px;
   font-size: 2.5em;
   border-radius: 40px;
   background-color: #2C3840;
   border: 3px solid white;
   color: white;
}
.content_form_login form a {
   color: white;
   font-size: 2em;
   margin: 0 33%;
}
 


/* PAGE MENTION LEGAL */



.link_reglement_mention {
    width: 220px;
    margin: auto;
    margin-top: 7%;
}
.link_reglement_mention a {
    text-transform: uppercase;
    color: white;
    padding: 15px;
    background-color: #2C3840;
    font-size: 3em;
    border-radius: 7px;
}
.content_legal h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 7%;
}
.content_legal p {
    font-size: 1.2em;
    margin: 2% 5%; 
}


/* PAGE REGLEMENT */


.content_reglement h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 7%;
}
.content_reglement p {
    font-size: 1.2em;
    margin: 2% 5%; 
}


/* NAV  */

.content_nav {
    width: 100%;
    background: beige;
    height: 210px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.content_nav nav {
    height: 210px;
    margin-top: 25px;
    margin-left: 25px;
}
.content_nav nav ul {
    height: 210px;
    display: flex;
    justify-content: space-between;
}
.content_nav nav ul a {
    color: initial;
}
.content_nav nav ul a li {
    font-size: 2em;
    text-align: center;
}
.content_nav nav ul a li i  {
    font-size: 4em;
    padding-bottom: 3%;
}


/* NAV STAFF */

.content_nav_staff {
    width: 100%;
    background: beige;
    height: 210px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.content_nav_staff nav {
    height: 210px;
    margin-top: 25px;
    margin-left: 25px;
}
.content_nav_staff nav ul {
    height: 210px;
    display: flex;
    justify-content: space-between;
}
.content_nav_staff nav ul a {
    color: initial;
}
.content_nav_staff nav ul a li {
    font-size: 2em;
    text-align: center;
}
.content_nav_staff nav ul a li i  {
    font-size: 3.5em;
    padding-bottom: 7%;
}

/* PAGE PROFIL */


.nav_profil {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 250px;
    margin: auto;
    border-bottom: 3px solid lightslategray;
}
.nav_profil .nav_profil_flex  {
    display: flex;
    margin: 5% 2%;
}
.nav_profil .nav_profil_flex i {
    font-size: 8em;
}
.nav_profil .nav_profil_flex div  {
    margin-left: 8%;
    margin-top: 3%;
}
.nav_profil .nav_profil_flex div p {
    font-size: 3.5em;
    margin-bottom: 5%;
}
.nav_profil .nav_profil_flex div span {
    font-size: 2.5em;
}

.nav_profil div  {
    margin-top: 9%;
    text-align: center;
}
.nav_profil div a {
    font-size: 2.5em;
    color: white;
    background-color: black;
    padding: 15px 20px;
    border-radius: 40px;
}
.button_compte_director {
    position: relative;
    top: -25%;
}

.profil_children {
    width: 50%;
    margin: auto;
    padding-top: 15%;
    padding-bottom: 5%;
    border-bottom: 2px solid;
}
.profil_children a {
   color: #2C3840;
}
.profil_children a i {
    font-size: 10em;
    margin-left: 37%;
    margin-bottom: 2%;
}
.profil_children a h2 {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 1%;
}
.profil_children a p {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.profil_doc {
    padding-top: 15%;
   
}
.profil_doc h1 {
    font-size: 4em;
    text-align: center;
}
.profil_doc div {
    width: 60%;
    margin: auto;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 3%;
    
}
.profil_doc div a {
    color: #2C3840;
    display: flex;
    margin: 8% 0;
    margin-left: 5%;
}
.profil_doc div a i{
    font-size: 5.5em;
    margin-right: 2%;
}
.profil_doc div a p {
    font-size: 3em;
    line-height: 190%;
}

.profil_doc_staff {
    padding-top: 15%;
    padding-bottom: 50%;
}
.profil_doc_staff h1 {
    font-size: 4em;
    text-align: center;
}
.profil_doc_staff div {
    width: 60%;
    margin: auto;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 3%;
}
.profil_doc_staff div a {
    color: #2C3840;
    display: flex;
    margin: 8% 0;
    margin-left: 5%;
}
.profil_doc_staff div a i{
    font-size: 5.5em;
    margin-right: 2%;
}
.profil_doc_staff div a p {
    font-size: 3em;
    line-height: 190%;
}
.profil_choice {
    margin: 1%;
    padding-bottom: 40%;
    margin-top: 15%;
}
.profil_choice h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 5%;
}
.profil_choice p {
    margin-top: 2%;
    text-align: center;
    font-size: 0.9em;
}
.profil_choice p span {
    font-weight: bold;
}

/* PAGE PROFIL PROF/DIRECTEUR */

.button_staff {
    display: flex;
    font-size: 2.5em;
    justify-content: space-evenly;
    padding-top: 7%;
    padding-bottom: 5%;
}

.button_staff div a {
    background-color: #2C3840;
    color: white;
    padding: 20px 15px;
    border-radius: 7px;
}

.profil_classe {
    text-align: center;
    font-size: 2.5em;
    padding-top: 10%;
    width: 85%;
    margin-left: 11.5%;
    padding-bottom: 5%;
}

.profil_classe table {
    border: 2px solid;
}

.profil_classe table caption {
    font-size: 1.7em;
    padding-bottom: 3%;
}

.profil_classe table td {
    border: 2px solid;
    padding: 2%;
}


/* PAGE PROFIL/MON-COMPTE */

.account {
    padding-top: 5%;
}

.account a {
    font-size: 5em;
    margin-left: 5%;
    color: black;
}

.account .account_border {
    width: 75%;
    border: 3px solid black;
    position: relative;
    border-radius: 3px;
    margin: auto;
    margin-top: 7%;
    height: 750px;
}

.account .account_border h1 {
    position: absolute;
    top: -30px;
    left: 20px;
    height: 80px;
    max-width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 3em;
    padding: 0 10px 0 10px 
}

.account .account_border div {
  
    margin: 20% 10%;
}

.account .account_border div p  {
    font-size: 2.5em;
    padding-bottom: 3%;
}

.account .account_border div p i  {
    
    margin-right: 3%;
}


.account .account_border a  {
    font-size: 2.5em;
    color: white;
    background-color: #2C3840;
    padding: 15px 25px;
    border-radius: 15px;
    margin-left: 14%;
}

/* PAGE PROFIL MON COMPTE EDIT */

.account_update {
    
}

.account_update a i {
    font-size: 6em;
    margin-left: 5%;
    margin-top: 2%;
}

.account_update form {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 50%;
}


.account_update form #user div label {
    display: none;
}

.account_update form #user div input {
    padding-left: 2%;
    font-size: 2em;
    height: 80px;
    width: 70%;
    border: none;
    background-color: beige;
    border-radius: 10px;
    margin-top: 3%;
}

.account_update form button {
    font-size: 2em;
    margin-top: 4%;
    padding: 3% 5%;
    border: none;
    border-radius: 5px;
    background-color: beige;
}



/* PAGE PROFIL CHILDREN */


.profil .children_back_profil {
    color: #2C3840;
    margin: 5%;
}

.profil .children_back_profil i {
    font-size: 5em;
    padding-top: 2%;
}

.profil .doc_children_div  {
    text-align: center;
    margin-top: 7%;
}
.profil div .doc_children_link {
    font-size: 2em;
    color: white;
    background-color: #2C3840;
    padding: 15px 20px;
    border-radius: 10px;
}

.profil_children_detail {
    width: 50%;
    margin: auto;
    margin-top: 7%;
    padding-bottom: 5%;
}

.profil_children_detail  {
    color: #2C3840;
}
.profil_children_detail i {
    font-size: 10em;
    margin-left: 36%;
    margin-bottom: 2%;
}
.profil_children_detail h2 {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 1%;
}

.profil_children_detail p {
    font-size: 2em;
    text-align: center;
    margin-top: 2%;
}


.profil_doc_bulletin {
    margin-top: 10%;
    padding-bottom: 30%;
}

.profil_doc_bulletin  div {
    width: 47%;
    margin: auto;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 3%;
    
}
.profil_doc_bulletin  div a {
    color: #2C3840;
    display: flex;
    margin: 5%;
    margin-left: 3%;
}
.profil_doc_bulletin  div a i{
    font-size: 5.5em;
    margin-right: 2%;
}
.profil_doc_bulletin  div a p {
    font-size: 3em;
    line-height: 190%;
}


/* PAGE PROFIL CHILDREN DOCUMENT */

.doc_children {
    padding-top: 5%;
}

.doc_children a {
    font-size: 5em;
    margin-left: 5%;
    color: black;
}

.doc_children .doc_children_border {
    width: 80%;
    border: 3px solid black;
    position: relative;
    border-radius: 3px;
    margin: auto;
    margin-top: 7%;
    height: 900px;
}



.doc_children .doc_children_border h1 {
    position: absolute;
    top: -30px;
    left: 20px;
    height: 80px;
    max-width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 3.5em;
    padding: 0 10px 0 10px 
}

.doc_children .doc_children_border .add_doc_children {
    margin-left: 80%;
    margin-top: 7%;
}

.doc_children .doc_children_border div {
    margin-top: 5%;
}

.doc_children .doc_children_border div a {
    font-size: 3em;
    display: flex;
    margin-bottom: 5%;
}

.doc_children .doc_children_border div a i {
    font-size: 2em;
}

.doc_children .doc_children_border div a p {
    margin-left: 2%;
    line-height: 200%;
}

/* PAGE DOC CHILDREN ADD */

.doc_children h1 {
    text-align: center;
    font-size: 3.5em;
    padding-top: 10%;
}

.doc_children form {
    text-align: center;
    padding-top: 10%;
}

.doc_children form #document div #document_name {
    padding-left: 2%;
    font-size: 2em;
    height: 70px;
    width: 70%;
    border: none;
    background-color: beige;
    border-radius: 10px;
}

.doc_children form #document div #document_name {
    padding-left: 2%;
    font-size: 2em;
    height: 70px;
    width: 70%;
    border: none;
    background-color: beige;
    border-radius: 10px;
}

.doc_children form #document div #document_document_url {
    font-size: 2em;
    padding-top: 10%;
    width: 70%;
}

.doc_children form #document div #document_Ajouter {
    font-size: 2em;
    margin-top: 10%;
    padding: 3% 5%;
    border: none;
    border-radius: 5px;
    background-color: beige;
    
}


/* PAGE CONVERSATION */

.convo_head {
    background-color: #2C3840;
    padding: 7% 0;
}

.convo_head h1 {
    font-size: 4em;
    color: white;
    margin-left: 5%;
}

.convo_list {
    font-size: 3.5em;
    padding-bottom: 20%;
}

.convo_list .convo_add {
    position: fixed;
    bottom: 15%;
    right: 0;
    padding-right: 5%;
}

.convo_list .convo_add i {
    font-size: 2em;
    
}

.convo_list div {
    background-color: antiquewhite;
    padding: 7.7% 0;
    border-top: 2px solid black;
    display: flex;
}

.convo_list div i {
    font-size: 2em;
    margin-left: 5%;
}

.convo_list div p {
    line-height: 200%;
    margin-left: 3%;
}


/* PAGE NEW MESSAGE */

label.required {
    display: none;
}

.content_new-msg {
    
}

.content_new-msg h1 {
    text-align: center;
    font-size: 3em;
    /* padding-top: 2%; */
}

.content_new-msg a {
    
}

.content_new-msg a i {
    font-size: 6em;
    padding-top: 3%;
    padding-left: 4%;
}


.content_new-msg form #message div #message_content {
    height: 300px;
    width: 80%;
    font-size: 3em;
    border-radius: 10px;
    border: none;
    margin-left: 7%;
    margin-top: 10%;
    background-color: lightblue;
    padding: 3%;
}

.content_new-msg form #message div #message_users {
    width: 80%;
    margin:auto;
    margin-top: 5%;
    display: flex;
    overflow-y: scroll;
    background-color: lightblue;
}


.content_new-msg form #message div #message_users input {
    display: none;
}

.content_new-msg form #message div #message_users label {
    font-size: 3em;
    padding: 5%;
}

.content_new-msg form button {
    font-size: 2em;
    border: none;
    padding: 3% 8%;
    border-radius: 3px;
    margin-top: 7%;
    margin-left: 37%;
}


/* PAGE MESSAGE */

.message_head {
    display: flex;
    justify-content: space-between;
    font-size: 4em;
    padding: 4% 0;
    background-color: antiquewhite;
    position: fixed;
    right: 0;
    left: 0;
}

.message_head a {
    padding-left: 4%;
    padding-right: 4%;
}

.message_head i {
    padding-left: 4%;
    padding-right: 4%;
}


#message_list {
    display: flex;
    flex-direction: column;
    margin-bottom: 35%;
    padding-top: 15%;
    overflow: scroll;
    font-size: 2em;
}

#message_list .message {
    align-self: flex-end;
    max-width: 60%;
    margin: 2%;
}

#message_list .message p {
    padding: 30px;
    background-color: lightblue;
    border-radius: 20px;
    overflow-wrap: break-word;
}

#message_list .message_2 {
    align-self: flex-start;
    max-width: 60%;
    margin: 2%;
}

#message_list .message_2 p {
    padding: 30px;
    background-color: #dedede;
    border-radius: 10px;
    overflow-wrap: break-word;
}


.message_input {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 24%;
    background-color: antiquewhite
}

.message_input form  {
    display: flex;
    font-size: 3em;
    justify-content: space-between;
}

.message_input form button {
    border: none;
    background-color: antiquewhite;
    margin-right: 3%;
}

.message_input form button i {
    font-size: 5.7em;
    margin-top: 22%;
    
}

.message_input form #message div label {
    display: none;
}

.message_input form #message div input {
    height: 70px;
    width: 110%;
    border-radius: 40px;
    margin-left: 8%;
    margin-top: 3%;
    font-size: 1em;
    padding-left: 5%;
    padding-right: 5%;
    border: none;
}


/* PAGE ACTUALITES */

.content_actu {

}

.content_actu .tags_actu {
    display: flex;
    justify-content: center;
}


.content_actu .tags_actu div {
    background-color: #2C3840;
    padding: 2% 4%;
    border-radius: 7px;
    margin: 4% 8%;
}

.content_actu .tags_actu div a {
    color: white;
    font-size: 3em;
}

.content_actu h1 {
    font-size: 4em;
    width: 87%;
    margin: auto;
    text-align: center;
    border-bottom: 2px solid;
    margin-top: 3%;
    padding-bottom: 2%;
}

.actu {
    display: flex;
    width: 87%;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 2%;
}

.actu img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.actu .actu_préShow {
    overflow: auto;
}

.actu .actu_préShow h2 {
    font-size: 3.5em;
    margin-left: 4%;
}

.actu .actu_préShow p {
    font-size: 2.2em;
    margin-left: 6%;
    margin-top: 6%;
    width: 80%;
    overflow: hidden;
    height: 100px;
}

.actu .actu_préShow div {
    display: flex;
    margin-top: 10%;
}

.actu .actu_préShow div i {
    font-size: 2.5em;
    margin-left: 5%;
}

.actu .actu_préShow div span {
    font-size: 1.9em;
    margin-left: 2%;
    line-height: 130%;
    width: 60%;
    border-bottom: 1px solid;
    padding-bottom: 2%;
}


/* PAGE ACTU SHOW */

.content_actu  {
    padding-top: 2%;
}

.content_actu .actu_show_link {
    font-size: 6em;
    margin-left: 5%;
}

.actu_show {
    padding-bottom: 50%;
}

.actu_show img {
    width: 50%;
    border-radius: 10px;
    margin-left: 6%;
    margin-top: 6%;
    float: left;
    margin-right: 3%;
}

.actu_show p {
    margin-top: 6%;
    margin-right: 3%;
    margin-left: 6%;
}

.actu_show div  {
    margin-top: 5%;
    margin-left: 6%;
}

.actu_show div i {
    margin-right: 3%;
}

/* PAGE ADD ACTUALITES */

.add_actu_content {

}

.add_actu_content a i {
    font-size: 6em;
    margin-left: 5%;
    padding-top: 5%;
}

.add_actu_content h1 {
    text-align: center;
    padding-top: 5%;
    font-size: 4em;
}

.add_actu_content form {
    text-align: center;
    padding-top: 5%;
}


.add_actu_content form #actuality div  {
    padding-bottom: 5%;
}

.add_actu_content form #actuality div input {
    padding-left: 2%;
    font-size: 2em;
    height: 70px;
    width: 70%;
    border: none;
    background-color: beige;
    border-radius: 10px;
}

.add_actu_content form #actuality div textarea {
    padding-left: 2%;
    padding-top: 2%;
    font-size: 2em;
    height: 150px;
    width: 70%;
    border: none;
    background-color: beige;
    border-radius: 10px;
}

.add_actu_content form #actuality div #actuality_picture_url {
    padding-top: 3%;
}


.add_actu_content form #actuality div #actuality_Ajouter {
    font-size: 2em;
    margin-top: 10%;
    padding: 3% 5%;
    border: none;
    border-radius: 5px;
    background-color: beige;
}













/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    margin-bottom: 200px;
}
.footer p {
    font-size: 2.5em;
    text-align: center;
    padding-top: 50px;
}
.footer p a {
    color: black;
}
.footer p a:hover {
    color: black;
}

/* FOOTER VITRINE  */

.footer_vitrine {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    margin-bottom: 0;
}

.footer_vitrine p {
    font-size: 2.5em;
    text-align: center;
    padding-top: 50px;
}
.footer_vitrine p a {
    color: black;
}
.footer_vitrine p a:hover {
    color: black;
}

/* CALENDAR */

.calendar__table {
    width: 100%;
    height: calc(100vh - 128px);
   }
   
.calendar__table td {
    padding: 10px;
    border: 1px solid grey;
    vertical-align: top;
    width: 14.29%; /* 100% / 7 jours */
    height: 100%;
}

.calendar__table--6weeks td {
    height: 16.66%; /* 100% / 6 semaines */
}

.calendar__column__title {
height: 2%;
}

.calendar__weekday {
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

.calendar__day {
    font-size: 1.3em;
}

.calendar__othermonth .calendar__day {
    opacity: 0.3;
    font-size: 1em;
}


/* CLASS JQUERY */

.red {
    color: red;
}
.black {
    color: black;
}

.display_none {
    display: none;
}








/* !!!!!!!!!!!!!!!!! BACK-END !!!!!!!!!!!!!!!!! */

.content_gestion {

}

.content_gestion h1 {
    font-size: 5em;
    text-align: center;
    margin-top: 7%;

}

.content_gestion ul {
    font-size: 3em;
    text-align: center;
    margin-top: 10%;
}

.content_gestion ul li {
    margin-bottom: 3%;
}

.content_gestion ul li a {
    text-decoration: none;
    color: #2C3840;
}


