/* Pour fixer mon footer en bas de page, sur toute mes page */
html {
    position: relative;
    min-height: 100%;
}

/* HEADER PAGE VITRINE  */

.header {
    display: flex;
}

.header img {
    width: 100%;
    height: 100%;
}

.header div {
    position: absolute;
    right: 260px;
    text-align: center;
}

.header div h1 {
    font-size: 6em;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Chilanka', cursive;

}

.header div a {
    font-size: 2.7em;
    text-decoration: none;
    background-color: rgb(27, 24, 24);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}

.header div p {
    font-size: 6em;
    margin-top: 15px;
}



/* CONTENT PAGE VITRINE */

.content_vitrine {
    font-family: 'Quicksand', sans-serif;
}

.content_vitrine p  {
    font-size: 2em;
    margin: 50px 20px;
    text-align: center;
}

.content_vitrine table  {
    font-size: 4em;
    text-align: center;
    margin: auto;
    border: 1px solid black;
}

.content_vitrine table caption {
    margin-top: 50px;
    margin-bottom: 15px;
}

.content_vitrine table tbody tr  {
    border-bottom: 1px solid black;
}
.content_vitrine table tbody td  {
    border-right: 1px solid black;
    padding: 20px;
}



/* MAP PAGE VITRINE */

.map_vitrine h1 {
    margin-top: 10%;
    text-align: center;
    font-size: 4em;

}

.map_vitrine img {
    width: 90%;
    margin: 5%;
}

.map_vitrine p {
    margin: 0;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 20px;
    text-align: left;
}

.map_vitrine p i {
    margin-right: 20px;
    font-size: 2em;
}



/* FORM CONTACT PAGE VITRINE */

.form_vitrine {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 50%;
}

.form_vitrine h1 {
    font-size: 4em;
    margin-bottom: 35px;
}

.form_vitrine div input {
    width: 80%;
    height: 70px;
    font-size: 2.5em;
    border: none;
    border: 1px solid;
    padding-left: 10px;
    margin-bottom: 40px;
}

.form_vitrine div textarea {
    width: 80%;
    height: 350px;
    font-size: 1.2em;
    border: none;
    border: 1px solid;
    padding-left: 10px;
    margin-bottom: 30px;
}

.form_vitrine .form_vitrine-button {
    font-size: 2.5em;
    border: none;
    padding: 15px;
    background-color: rgb(26, 25, 25);
    color: white;
    border-radius: 15px;

}

/* PAGE MENTION LEGAL */

.content_legal h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 5%;
}

.content_legal p {
    font-size: 1.2em;
    margin: 2% 20px; 
}

/* PAGE REGLEMENT */

.content_reglement h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 5%;
}

.content_reglement p {
    font-size: 1.2em;
    margin: 2% 20px; 
}



/* NAV  */

.content_nav {
    width: 100%;
    background: beige;
    height: 210px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.content_nav nav {
    height: 210px;
    margin-top: 25px;
    margin-left: 25px;
}

.content_nav nav ul {
    height: 210px;
    display: flex;
    justify-content: space-between;
}

.content_nav nav ul a {
    text-decoration: none;
    color: initial;
}

.content_nav nav ul a li {
    font-size: 2em;
    text-align: center;
}
.content_nav nav ul a li i  {

    font-size: 4em;
}



/* FOOTER */

.footer {
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    /* margin-bottom: 200px; */
}

.footer p {
    font-size: 3em;
    text-align: center;
    padding-top: 50px;
}

.footer p a {
    text-decoration: none;
    color: black;
}
.footer p a:hover {
    color: black;
}