.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C42F2B;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #449D44;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* PAGE - CANTEEN DAY */
/************************************************/


.switch_canteen {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 68px;
}

.switch_canteen input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_canteen  {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C42F2B;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_canteen:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_canteen {
  background-color: #449D44;
}

input:focus + .slider_canteen {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_canteen:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px);
}

/* Rounded sliders */
.slider_canteen.round {
  border-radius: 34px;
}

.slider_canteen.round:before {
  border-radius: 50%;
}

/* PAGE - CALENDAR */
/************************************************/


.switch_calendar {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 10px;
}

.switch_calendar input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_calendar  {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCCCCC;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_calendar:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 4px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_calendar {
  background-color: #2196F3;
}

input:focus + .slider_calendar {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_calendar:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider_calendar.round {
  border-radius: 34px;
}

.slider_calendar.round:before {
  border-radius: 50%;
}