{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Présentation{% endblock %}

{% block nav %}         
{% endblock %}

{% block content %}

    <header class="header">
        <a href="{{ path('default_index') }}"><img src="{{ asset('img/Banniere.png') }}" alt=""></a>
        <div>
            <h1>O'Tableau</h1>
            <a href="#">Se connecter</a>
            <p><i class="fas fa-angle-down"></i></p>
        </div>
    </header>
    <div class="content_vitrine">
        <p>Ceci est le texte présentation, Ceci est le texte présentation, Ceci est le texte présentation, Ceci est le texte présentation</p>

        <table>
            <caption>Horaires</caption>
            <tr>
                <td>Lundi</td>
                <td>8h-12h / 13h-17h</td>
            </tr>
            <tr>
                <td>Mardi</td>
                <td>8h-12h / 13h-17h</td>
            </tr>
             <tr>
                <td>Mercredi</td>
                <td>8h-12h</td>
            </tr>
            <tr>
                <td>Jeudi</td>
                <td>8h-12h / 13h-17hs</td>
            </tr>
             <tr>
                <td>Vendredi</td>
                <td>8h-12h / 13h-17h</td>
            </tr>
        </table>
        <div class="map_vitrine">
            <h1>Plan</h1>
            <a href="https://www.google.fr/maps/dir//Groupe+Scolaire+La+Mare+L'Embuche,+12+Rue+d'Emery,+77184+%C3%89merainville/@47.1297346,3.380151,7z/data=!4m7!4m6!1m1!4e2!1m2!1m1!1s0x47e60f82dc5d8e3f:0xb3cb9ff2b2a8bc02!3e0"><img src="{{ asset('img/map.png') }}" alt="#"></a>
            <p><i class="fas fa-map-marker-alt"></i> Rue d'Emery - 77184 EMERAINVILLE</p>    
            <p><i class="fas fa-envelope"></i> OTableau@ecole.io</p>
            <p><i class="fas fa-phone-square-alt"></i> 04 77 89 45 23</p>
        </div>

        <div class="form_vitrine">
            <h1>Contact</h1>
            <form action="#">
            <div>
                <label for="fname"></label>
                <input type="text" id="fname" name="lastname" placeholder="Nom">
            </div>
            <div>
                <label for="lname"></label>
                <input type="text" id="mail" name="mail" placeholder="Adresse mail">
            </div>
            <div>
                <label for="subject"></label>
                <textarea id="subject" name="subject" placeholder="Votre message" ></textarea>
            </div>
                <input class="form_vitrine-button" type="submit" value="Nous contacter">
            </form>
        </div>
    </div>
    
{% endblock %}
