{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Présentation{% endblock %}

{% block nav %}         
{% endblock %}

{% block content %}

    <header class="header">
        <img src="{{ asset('img/Banniere.png') }}" alt="">
        <div>
            <h1>O'Tableau</h1>
            <a href="#">Se connecter</a>
            <p><i class="fas fa-angle-down"></i></p>
        </div>
    </header>
    <div class="content_vitrine">
        <p>Ceci est le texte présentation, Ceci est le texte présentation, Ceci est le texte présentation, Ceci est le texte présentation</p>

        <table>
            <caption>Horaires</caption>
            <tr>
                <td>Lundi</td>
                <td>8h-12h / 13h-17h</td>
            </tr>
            <tr>
                <td>Mardi</td>
                <td>8h-12h / 13h-17h</td>
            </tr>
             <tr>
                <td>Mercredi</td>
                <td>8h-12h</td>
            </tr>
            <tr>
                <td>Jeudi</td>
                <td>8h-12h / 13h-17hs</td>
            </tr>
             <tr>
                <td>Vendredi</td>
                <td>8h-12h / 13h-17h</td>
            </tr>
        </table>
    </div>

{% endblock %}
