{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Reglement{% endblock %}

{% block nav %}         
{% endblock %}

{% block content %}

    <header class="header">
        <a href="{{ path('default_index') }}"><img src="{{ asset('img/Banniere.png') }}" alt=""></a>
        <div>
            <h1>O'Tableau</h1>
            <a href="#">Se connecter</a>
            <p><i class="fas fa-angle-down"></i></p>
        </div>
    </header>
    <div class="content_legal">
        <h1>Mention légal</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quod harum amet molestias nobis adipisci quasi voluptas fuga eligendi illum! Doloribus eum fugit aliquam deserunt necessitatibus ipsam, veniam modi culpa.</p>
    </div>
   
    
{% endblock %}
