{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Reglement interieur{% endblock %}

{% block nav %}         
{% endblock %}

{% block content %}

    <div class="link_reglement_mention">
        <a href="{{ path('user_index') }}">Retour</a>
    </div>
    <div class="content_reglement">
        <h1>Reglement interieur</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, error illo autem officiis minima ipsum sapiente perferendis nemo doloribus rem ut dolorum animi dicta! Sunt minima amet labore dolore ipsa.</p>
    </div>

   
{% endblock %}

{% block footer %}
            
{% endblock %}