{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Reglement interieur{% endblock %}

{% block nav %}         
{% endblock %}

{% block content %}

    {% if app.user %}
        <div class="link_reglement_mention">
            <a href="{{ path('user_index') }}">Retour</a>
        </div>
    {% else %}
        <div class="link_reglement_mention">
            <a href="{{ path('default_index') }}">Retour</a>
        </div>
    {% endif %}
    <div class="content_reglement">
        <h1>Reglement interieur</h1>
<p>
PRÉAMBULE

La présente circulaire rappelle les dispositions législatives et règlementaires que doit respecter le règlement type départemental des écoles maternelles et élémentaires publiques élaboré par le directeur académique des services de l'éducation nationale (Dasen), agissant sur délégation du recteur d'académie. Elle fournit des indications pour l'élaboration du règlement intérieur des écoles par les conseils d'école.</p>

<p>En effet, en application de l'article R. 411-5 du code de l'éducation, il appartient au Dasen, agissant sur délégation du recteur d'académie, d'arrêter le règlement type des écoles maternelles et élémentaires publiques pour le département dont il a la charge, après avoir consulté le conseil de l'éducation nationale institué dans le département (CDEN). Conformément aux dispositions de l'article D. 411-6 du code de l'éducation, le règlement type départemental permet ensuite au conseil d'école d'établir le règlement intérieur de l'école.</p>

<p>À cette fin, le règlement type des écoles maternelles et élémentaires publiques d'un département précise les modalités de fonctionnement des écoles publiques de ce département dans le cadre des dispositions législatives et réglementaires organisant au niveau national l'enseignement préélémentaire et élémentaire, et fournit un cadre et des orientations pour la rédaction du règlement intérieur de chaque école.</p>

<p>Le règlement intérieur de l'école précise les conditions dans lesquelles est assuré le respect des droits et des obligations de chacun des membres de la communauté éducative (article L. 401-2 du code de l'éducation).</p>

<p>Il comporte les modalités de transmission des valeurs et des principes de la République (article L. 111-1-1 du code de l'éducation), respecte la convention internationale des droits de l'enfant du 20 novembre 1989 et  la déclaration des Droits de l'Homme et du Citoyen de 1789. Il est recommandé de joindre la Charte de la laïcité à l'École (circulaire n° 2013-144 du 6 septembre 2013) au règlement intérieur.</p>

<p>La circulaire n° 91-124 du 6 juin 1991 est abrogée.

1 - Organisation et fonctionnement des écoles primaires

L'organisation et le fonctionnement de l'école doivent permettre d'atteindre les objectifs fixés aux articles L. 111-1 et D. 321-1 du code de l'éducation, en particulier la réussite scolaire et éducative de chaque élève, ainsi que d'instaurer le climat de respect mutuel et la sérénité nécessaires aux apprentissages.

1.1 Admission et scolarisation

1.1.1 Dispositions communes</p>

<p>En application de l'article L. 111-1 du code de l'éducation, l'éducation est un droit pour tous les enfants résidant sur le territoire national, quels que soient leur nationalité, leur statut migratoire ou leur parcours antérieur. La Convention relative aux droits de l'enfant du 20 novembre 1989, ratifiée par la France, garantit à l'enfant le droit à l'éducation en dehors de toute distinction qui tienne à sa nationalité ou à sa situation personnelle.</p>

<p>Le directeur d'école prononce l'admission sur présentation :

- du certificat d'inscription délivré par le maire de la commune dont dépend l'école. Ce dernier document indique, lorsque la commune dispose de plusieurs écoles, celle que l'enfant fréquentera ;</p>

<p>- d'un document attestant que l'enfant a subi les vaccinations obligatoires pour son âge ou justifie d'une contre-indication en application des dispositions des articles L. 3111-2  et L. 3111-3 du code de la santé publique (certificat du médecin ou photocopie des pages du carnet de santé relatives aux vaccinations, carnet international de vaccinations).</p>

<p>Faute de la présentation de l'un ou de plusieurs de ces documents, le directeur d'école procède pour les enfants soumis à l'obligation scolaire conformément à l'article article L. 131-1-1 du code de l'éducation à une admission provisoire de l'enfant.</p>

<p>Il convient de rappeler que les personnels de l'éducation nationale n'ont pas compétence pour contrôler la régularité de la situation des élèves étrangers et de leurs parents au regard des règles régissant leur entrée et leur séjour en France. La circulaire n° 2012-141 du 2 octobre 2012 relative à l'organisation de la scolarité des élèves allophones nouvellement arrivés donne toutes précisions utiles pour l'organisation de la scolarité de ces élèves.</p>


<p>3.4.2 Un texte éducatif et informatif 

Le projet voté par le conseil d'école est préparé en amont par une large concertation de la communauté éducative permettant de créer ainsi les conditions d'une appropriation par toutes les parties des dispositions qu'il contient.</p>

<p>Le règlement intérieur de l'école doit faciliter les rapports entre tous les membres de la communauté éducative ; il doit être rédigé dans une langue claire et accessible.</p>

<p>Le règlement intérieur de l'école est communiqué au maire de la commune ou au président de l'EPCI dont elle relève.</p>

<p>Le règlement intérieur de l'école est affiché dans l'école dans un lieu facilement accessible aux parents.</p>


<p>Le ministre de l'éducation nationale, de l'enseignement supérieur et de la recherche
Benoît Hamon</p>
</p>
    </div>

   
{% endblock %}

{% block footer %}
            
{% endblock %}