{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Profil{% endblock %}

{% block content %}

    <div class="content_gestion">
        <h1>Gestion</h1>
        <ul>
            <li><a href="{{ path('document_index') }}">Documents</a></li>
            <li><a href="{{ path('alert_index') }}">Alertes</a></li>
            <li><a href="">LOREM</a></li>
            <li><a href="">LOREM</a></li>
            <li><a href="">LOREM</a></li>
            <li><a href="">LOREM</a></li>
            <li><a href="">LOREM</a></li>
            <li><a href="">LOREM</a></li>
        </ul>
    </div>
   
{% block footer %}
{% endblock %}
{% endblock %}