<div class="content_nav">
    <nav>
        <ul>
            <a href=""><li><i class="fas fa-user-circle"></i> Profil</li></a>
            <a href=""><li><i class="fas fa-envelope"></i> Message</li></a>
            <a href=""><li><i class="fas fa-newspaper"></i>Actualités</li></a>
            <a href=""><li><i class="fas fa-sign-out-alt"></i>Deconnxion</li></a>
        </ul>
    </nav>
</div>