{% extends 'base.html.twig' %}

{% block content %}

Consulter le document: <a href="/docs/{{ doc.documenturl }}">
<i class="fas fa-file-pdf"></i>
<p>Nom du document: {{ doc.name }}</p>
</a>     

<form method="post" action="{{ path('documentschool_delete', {'id': doc.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce document?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ doc.id) }}">
    <button class="btn">Supprimer</button>
</form>

{% endblock %}