{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Actualités{% endblock %}

{% block content %}

    <div class="content_actu">

        <div class="tags_actu">
            <div>
                <a href="">Tous</a>
            </div>
            <div>
                <a href="">Classe</a>
            </div>
        </div>

        <h1>Actualités</h1>

        <a href="">
            <div class="actu">
                <img src="{{ asset('img/tablo.jpg')}} " alt="">
                <div class="actu_préShow">
                    <h2>Tarif cantine</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, consectetur adipisicing elit</p>
                    <div>
                        <i class="far fa-clock"></i>
                        <span>le mardi 7 novembre</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endblock %}
