{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Messagerie{% endblock %}

{% block content %}

<div>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Crée') }}</button>
{{ form_end(form) }}

</div>

{% endblock %}

{% block footer %}

{% endblock %}
