<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}O'Tableau{% endblock %}</title>
        {% block stylesheets %}

            <script src="https://kit.fontawesome.com/092433016f.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% endblock %}
    </head>
    <body>
        {% block nav %}
            {% include "navigation/_content_nav.html.twig" %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            {% include "navigation/_content_footer.html.twig" %}
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>