{% extends 'base.html.twig' %}

{% block title %}O'Tableau | EnfantName{% endblock %}

{% block content %}

    <div class="content_profil">
        <div class="nav_profil">
            <div class="nav_profil_flex">
                <i class="fas fa-user-alt"></i>
                <div>
                    <p>{{ app.user.username }}</p>
                    <span>{{app.user.role.name }}</span>
                </div>
            </div>
            <div>
                <a href="{{ path('user_myAccount') }}">Mon compte</a>
            </div>
        </div>
        <div class="doc_children">
            <a href="{{ path('student_index') }}"><i class="fas fa-angle-left"></i></a>
            <div class="doc_children_border">
                <h1>Document de Enfant</h1>
                <div class="add_doc_children">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                </div>
                <div>
                    <a href="">
                        <i class="fas fa-file-pdf"></i>
                        <p>Fiche de renseignements</p>
                    </a>
                    <a href="">
                        <i class="fas fa-file-pdf"></i>
                        <p> Attestation d'Assurance</p>
                    </a>
                    <a href="">
                        <i class="fas fa-file-pdf"></i>
                        <p>PAI + renseignements médicaux</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
