{% extends 'base.html.twig' %}

{% block content %}

    <div class="doc_children">
        <a href="{{ path('student_index', { 'id': student.id }) }}"><i class="fas fa-angle-left"></i></a>
        <h1>Ajouter un document</h1>
        {{ form(form) }}
    </div>

{% endblock %}

