{% extends 'base.html.twig' %}

{% block content %}

<div class="backend_alert_show">
    <a href="{{ path('alert_index') }}"><i class="fas fa-angle-left"></i></a>
    <div class="show_alert">
        <h1>{{ alert.title }}</h1> 
        <div>           
            <p>{{ alert.content }}</p>
        </div>
    </div>

{% endblock %}
{% block footer %}
{% endblock %}
