{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Messagerie{% endblock %}

{% block content %}

<div class="content_new-msg">

{{ form_start(formMessage) }}
    {{ form_widget(formMessage) }}
    <button class="btn">Envoyer</button>
{{ form_end(formMessage) }}

</div>
{% endblock %}

{% block footer %}

{% endblock %}
