{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Profil{% endblock %}

{% block content %}

    <div class="content_profil">
        <div class="nav_profil">
            <div class="nav_profil_flex">
                <i class="fas fa-user-alt"></i>
                <div>
                    <p>UserName</p>
                    <span>Role</span>
                </div>
            </div>
            <div>
                <a href="{{ path('user_myAccount') }}">Mon compte</a>
            </div>
        </div>
        <div class="profil">
            <div class="profil_children">
                <a href="{{ path('student_index') }}">
                    <i class="fas fa-user-graduate"></i>
                    <h2>ChildrenName</h2>
                    <p>classe de Username</p>
                </a>
            </div>
            <div class="profil_doc">
                <h1>Vie de l'école</h1>
                <div>
                    {% for doc in documents %}
                        <a href="../docs/{{ doc.documenturl }}">
                            <i class="fas fa-file-pdf"></i>
                            <p>{{ doc.name }}</p>
                        </a>     
                    {% endfor %}              
               </div>
                    
            </div>
            <div class="profil_choice">
                <h1>Choix personnels</h1>
                <p>Droit à l'image => Autorisation de publication : <span>Oui</span></p>
                <p>Communication de mes coordonnées : <span>Oui</span></p>

            </div>
        </div>
    </div>
   
{% endblock %}