{% extends 'base.html.twig' %}

{% block content %}

{# 
Le formulaire sera en parti CRUD ADMIN, ceci est pour tester l'envoi en BDD #}

    {{ form(form) }} <hr>
    
        <h1>Vie de l'école</h1><br>          
                {% for doc in documents %}              
                    <a href="../docs/{{ doc.documenturl }}"><img src="../img/pdflogo.png" alt="documentpdf"></a>{{ doc.name }}<br>
                {% endfor %}                                     
{% endblock %}
